
<!-- <div class="nav nav-pills">
  <div class="nav-item">
    <a class="nav-link active"><%= link_to 'Home', root_path %></a>
  </div>
  <div class="nav-item">
    <%= link_to 'Gallery', gallery_path %>
  </div>
  <div class="nav-item">
    <%= link_to 'Calendar', calendar_path %>
  </div>
</div>


<div id="login-form">

  <div id="user_header">

  </div>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
</div> -->

<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to 'Home', root_path, class: "nav-link",  aria: { selected: "false" } %>
  </li>
  <li class="nav-item">
    <%= link_to 'Gallery', gallery_path, class: "nav-link", aria: { selected: "false" } %>
  </li>
  <li class="nav-item">
    <%= link_to 'Calendar', calendar_path, class: "nav-link", aria: { selected: "false" } %>

  </li>
  <li class="nav-item">
    <% if logged_in? %>
      <%= link_to 'Logout', logout_path, class: "nav-link" %>
    <% else %>
        <%= link_to "Sign Up", signup_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log In", login_path, class: "nav-link" %>
    <% end %>
  </li>
</ul>
