<!DOCTYPE html>
<html>
  <head>
    <title>Freely</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_world_bundle' %>
    <%= javascript_pack_tag 'Map' %>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    <link
        rel="stylesheet"
        href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css"
    />
  </head>

  <body>
    <div id="container">

      <div id="user_header">
		 <% if logged_in? %>
		   <%= link_to 'Logout', logout_path %>
		 <% else %>
           <%= link_to "Sign Up", signup_path %>
		   <%= link_to "Log In", login_path %>
		 <% end %>
      </div>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
